[project]
	description = Driver and usage example app for controlling Mitsubishi E2J manipulator over RS232.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michał (Zuravvski)
[access "refs/for/refs/*"]
	read = group user/Michał (Zuravvski)
	push = group user/Michał (Zuravvski)
	label-Code-Review = -2..+2 group user/Michał (Zuravvski)
	label-Verified = -1..+1 group user/Michał (Zuravvski)
	rebase = group user/Michał (Zuravvski)
	removeReviewer = group user/Michał (Zuravvski)
	submit = group user/Michał (Zuravvski)
[access "refs/heads/*"]
	read = group user/Michał (Zuravvski)
	create = group user/Michał (Zuravvski)
	push = +force group user/Michał (Zuravvski)
	pushMerge = group user/Michał (Zuravvski)
[access "refs/tags/*"]
	push = group user/Michał (Zuravvski)
	push = +force group user/Michał (Zuravvski)
